.projectContents:target {
  box-shadow: 0 3px 5px rgba(79, 70, 229, 1);
}

.projectContents.has-url:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 5px rgba(79, 70, 229, 0.5);
  transition: all 0.5s;
  cursor: pointer;
}
